<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            NodeAPI
        </div>
        <div class="nav-links">
            {{#if user.role}}
            <a  href="admin" class="logout">
                Admin
            </a>
            {{/if}}

            {{#if user}}
            <a href="/profile">
                <div class="profile-image">
                    {{initials}}
                </div>
            </a>
            {{else}}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            {{/if}}
        </div>
    </div>
</body>

</html>