<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <title>Document</title>
</head>

<body>
  <div class="navbar">
    <div class="logo">
      NodeAPI
    </div>
    <div class="nav-links">
      {{#if user}}
      <a href="/profile">
        <div class="profile-image">
          {{initials}}
        </div>
      </a>
      <a href="/">Home</a>
      <div class="logout">
        <a href="/auth/logout">Logout</a>
      </div>
      {{else}}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      {{/if}}
    </div>
  </div>

  <div class="container">
    <h1>Welcome {{user.name}}</h1>
  </div>
</body>

</html>